header.Header {
  background-color: #69c36e;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;

  font-size: 32px;
  color: white;

  .Header-logo {
    height: 70px;
  }

  @media (prefers-reduced-motion: no-preference) {
    .Header-logo {
      cursor: pointer;
      animation: Header-logo-spin infinite linear;

      &.Header-logo--speed-0 {
        animation: none;
      }

      &.Header-logo--speed-1 {
        animation-duration: 15s;
      }

      &.Header-logo--speed-2 {
        animation-duration: 7s;
      }

      &.Header-logo--speed-3 {
        animation-duration: 2s;
      }

      &.Header-logo--speed-4 {
        animation-duration: 1s;
      }
    }
  }

  @keyframes Header-logo-spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  .Kea-link {
    color: hsl(123deg, 33%, 29%);
  }
}
